html{
margin:0px;
background-color:#f3bbff;
animation:bgcolor 2s infinite linear;
}

@keyframes bgcolor{
 5%{
 background-color:#C0C0C0;
 }
  10% {
    background-color: #a43535;
  }
  20% {
    background-color: #ff7b00;
  }
  30% {
    background-color: #ffff51;
  }
  40% {
    background-color: #a7ff4e;
  }
  50% {
    background-color: #7addfe;
  }
  60% {
    background-color: #6b6bfd;
  }
  70% {
    background-color: #ca61ff;
  }
  80% {
    background-color: #ff54af;
  }
  90% {
    background-color: #f3bbff;
  }
}

.img{
text-align:center;
}

img{
width:400px;
}


.header{
text-align:center;
}
